#contact-info h2 {
    display: inline-block;
    width: 49%;
}
.career-item {
    display: inline-block;
    width: 33%;
}
.link {
    color: green;
    text-decoration: none;
}
.text {
    font-family: 'Staatliches', cursive;
    color: black;
    text-decoration: none;
}
.-center {
    text-align: center;
}
.-margin {
    margin: 15%;
}