button {
    border: 0px;
    border-radius: 5px;
    background: none;
    background-color: #1d2951;
    height: 3em;
    color: white;
    margin: 1%;
}
form {
    margin: 0 auto;
    width: 33%;
}
form div {
    padding-bottom: 1%;
}
input, textarea {
    width: 100%;
    background-color:whitesmoke;
    border-style:solid;
    border-color:#1d2951; 
    border-radius: 5px;
    border-width: 1px;
}
input {
    height: 1.5em;
}
label {
    font-family: 'Raleway', sans-serif;
}
textarea {
    height: 10em;
    resize: none;
}
