@import url('https://fonts.googleapis.com/css?family=Staatliches');
#navbar a {
    padding-left: .5em;
    display: inline-block;
}
#navbar a:hover {
    text-decoration: underline;
    text-decoration-color: #52431D;
}
hr {
    height: 24px;
    background-color: #9E7A19;
}
#navbar {
    text-align: center;
    font-size: 32px;
}
