doctype html
html
    head
        title About
        link(rel="stylesheet", href="/static/stylesheets/navbar.css")
        link(rel="stylesheet" href="/static/stylesheets/main.css")
    body
        include header.pug
        hr
        section(id="container" class="-margin")
        h2(class="text -center") WHO IS CHRISTIAN BAHNWEG?
        h2(class="text -center") HE'S A BORN-AGAIN #[a(href="/about/programmer" class="link") PROGRAMMER], A #[a(href="/about/communicator" class="link") COMMUNICATOR] AND A #[a(href="/about/student" class="link") STUDENT OF DESIGN].
        include footer.pug