<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheets/main.css">
    
</head>
<body>
    <div id="navbar">
        <a href="" class="text">ABOUT</a>
        <a href="" class="text">CAREER</a>
        <a href="" class="text">DOCUMENTATION</a>
        <a href="" class="text">PROJECTS</a>
        <a href="" class="text">CONTACT</a>
    </div>
    <hr>
    <div id="container" class="-margin">
        <h2 class="text -center">WHO IS CHRISTIAN BAHNWEG?</h2>
        <h2 class="text -center">HE'S A BORN-AGAIN <a href="" class="link">PROGRAMMER</a>, A <a href="" class="link">COMMUNICATOR</a> AND A <a href="" class="link">STUDENT OF DESIGN</a></h2>
    </div>
</body>
</html>