doctype html
html
head
    title About
    link(rel="stylesheet", href="/stylesheets/navbar.css")
    link(rel="stylesheet" href="/stylesheets/main.css")
include header.pug
hr
div(id="container" class="-margin")
h2(class="text -center") WHO IS CHRISTIAN BAHNWEG?
h2(class="text -center") HE'S A BORN-AGAIN #[a(href="" class="link")]PROGRAMMER, A #[a(href="" class="link")]COMMUNICATOR AND A #[a(href="" class="link")]STUDENT OF DESIGN
   