doctype html
html
head
title About
link(rel="stylesheet", href="/stylesheets/navbar.css")
link(rel="stylesheet" href="/stylesheets/main.css")
include header.pug
hr
div(class="career-wrapper -center")
    div(class="career-item")
        h2(class="text") GazePGH
        h2(class="text") 2018-2019
        
    div(class="career-item")
        h2(class="text") Tex Visions
        h2(class="text") 2017-Present
    
    div(class="career-item")
        h2(class="text") WebpageFX
        h2(class="text") 2017