doctype html
html
    head
        title Career
        link(rel="stylesheet", href="/static/stylesheets/navbar.css")
        link(rel="stylesheet" href="/static/stylesheets/main.css")
    body
        include header.pug
        hr
        section(class="career-wrapper")
            section(class="career-item -center")
                h2(class="text") Visionist, Inc
                h2(class="text") 2019-Present

            section(class="career-item -center")
                h2(class="text") GazePGH
                h2(class="text") 2018-2019
                
            section(class="career-item -center")
                h2(class="text") Tex Visions
                h2(class="text") 2017-2019
            
        include footer.pug