doctype html
html
    head
        title About
        link(rel="stylesheet", href="/static/stylesheets/navbar.css")
        link(rel="stylesheet" href="/static/stylesheets/main.css")
    body
        include header.pug
        hr
        h2(class="text -margin") CHRISTIAN HAS A SOLID GRASP OF SEO BEST PRACTICES AND CONTENT MARKETING STRATEGY. AS PART OF HIS WORK WITH SEO AND IN CONTENT MARKETING, HE'S DEALT WITH EVERYTHING FROM PRINT NEWS TO BLOG POSTS TO INDUSTRY GUIDES, MANUALS AND SOPS.