<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/navbar.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">
    <script src="../js/main.js"></script>
</head>
<body>
    <div id="navbar">
        <a href="" class="text">ABOUT</a>
        <a href="" class="text">CAREER</a>
        <a href="" class="text">DOCUMENTATION</a>
        <a href="" class="text">PROJECTS</a>
        <a href="" class="text">CONTACT</a>
    </div>
    <hr>
    <h2 class="text -margin">
            CHRISTIAN HAS A SOLID GRASP OF SEO BEST PRACTICES AND CONTENT MARKETING
            STRATEGY. AS PART OF HIS WORK WITH SEO AND IN CONTENT MARKETING, HE'S DEALT
            WITH EVERYTHING FROM PRINT NEWS TO BLOG POSTS TO INDUSTRY GUIDES, MANUALS
            AND SOPS.
    </h2>
    </body>
    </html>