doctype html
html
    head
        title Contact Me
        link(rel="stylesheet", href="/static/stylesheets/navbar.css")
        link(rel="stylesheet" href="/static/stylesheets/main.css")
        link(rel="stylesheet" href="/static/stylesheets/form.css")
        link(link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
    body
    include header.pug
    hr
    form(action="https://formspree.io/cebahnweg@gmail.com" method="POST")
        div(id="name-item")
            label(for="name") Name
        div(id="name-text")
            input(type="text" id="name" name="Name")
        div(id="mail-item")
            label(for="mail") Email
        div(id="name-text")
            input(type="email" id="mail" name="Email")
        div(id="msg-item")
            label(for="msg") Message
        div(id="msg-text")
            textarea(id="msg" name="Message")
        div(id="submit-button")
            button(type="submit" value="Send") Say Hi!
    