doctype html
html
head
    title Contact Me
    link(rel="stylesheet", href="/static/stylesheets/navbar.css")
    link(rel="stylesheet" href="/static/stylesheets/main.css")
    link(link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
body
    include header.pug
    hr
    div(id="contact-info" class="-center")
        h2(class="text") cebahnweg@gmail.com
        h2(class="text") 717-554-1213

    <div id="social-media">
        div(class="icon -center")
            a(href="https://www.linkedin.com/in/christian-bahnweg/" target="_blank")
                i(class="fab fa-linkedin-in fa-10x")
        div(class="icon -center")
            a(href="https://github.com/CrispyCB" target="_blank")
                i(class="fab fa-github-alt fa-10x")
        