doctype html
html
head
title My Documenation
link(rel="stylesheet", href="/stylesheets/navbar.css")
link(rel="stylesheet" href="/stylesheets/main.css")
link(rel="stylesheet" href="/stylesheets/cards.css")
include header.pug
hr
div(class="doc-card-wrapper -center")
    div(class="card")
        div(class="doc-media")a(href="../assets/pdfs/Getting Started With Gmail.pdf")img(src="../assets/images/GMail-Image.png" alt="")
                div(class="title")
                    h4(class="text -center") Getting Started With Gmail
                div(class="card-text")
                    p(class="-center") A simple getting-started guide for Gmail.
    div class="card">
        div(class="doc-media")a(href="../assets/pdfs/Installing an IRC client on Ubuntu 16.04.pdf")img(src="../assets/images/Installing IRC Client Image.png" alt="")
        div(class="title")
            h4(class="text -center") Installing IRC On Ubuntu
        div(class="card-text")
            p(class="-center") An install guide for HexChat on Ubuntu Linux.
                
            
        

        