doctype html
html(lang='en')
    head
        title My Documentation
        link(rel="stylesheet", href="/static/stylesheets/navbar.css")
        link(rel="stylesheet" href="/static/stylesheets/main.css")
        link(rel="stylesheet" href="/static/stylesheets/cards.css")
    body
        include header.pug
        hr
        section(class="doc-card-wrapper -center")
            section(class="card")
                section(class="doc-media")
                    a(href="/static/pdfs/Getting Started With Gmail.pdf" title="Getting Started With GMail")
                        img(src="/static/images/GMail-Image.png" alt="Screenshot of documentation")
                    section(class="title")
                        h4(class="text -center") Getting Started With Gmail
                    section(class="card-text")
                        p(class="-center") A simple getting-started guide for Gmail.
            section(class="card")
                section(class="doc-media")
                    a(href="/static/pdfs/Installing an IRC client on Ubuntu 16.04.pdf" title="Installing an IRC Client On Ubuntu")
                        img(src="/static/images/Installing IRC Client Image.png" alt="Screenshot of documentation")
                    section(class="title")
                        h4(class="text -center") Installing IRC On Ubuntu
                    section(class="card-text")
                        p(class="-center") An install guide for HexChat on Ubuntu Linux.
        include footer.pug                        