link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")
footer
        div(id="social-media")
                div(class="icon")
                        a(href="https://www.linkedin.com/in/christian-bahnweg/" target="_blank")
                                i(class="fab fa-linkedin-in fa-2x")
                div(class="icon")
                        a(href="https://github.com/CrispyCB" target="_blank")
                                i(class="fab fa-github-alt fa-2x")
