div(id="navbar")
        a(href="" class="text") ABOUT
        a(href="" class="text") CAREER
        a(href="" class="text") DOCUMENTATION
        a(href="" class="text") PROJECTS
        a(href="" class="text") CONTACT
