div(id="navbar")
        a(href="/about" class="text") ABOUT
        |
        a(href="/career" class="text") CAREER
        |
        a(href="/documentation" class="text") DOCUMENTATION
        |
        a(href="/projects" class="text") PROJECTS
        |
        a(href="/contact" class="text") CONTACT
        |
