doctype html
html
    head
        title About
        link(rel="stylesheet", href="/static/stylesheets/navbar.css")
        link(rel="stylesheet" href="/static/stylesheets/main.css")
    body
        include header.pug
        hr
        div(id="container" class="-margin")
            h2(class="text -center") CHRISTIAN IS CURRENTLY WORKING THROUGH #[a(class="link" href="https://learn.freecodecamp.org/") THE FREECODECAMP CERTIFICATIONS] AND #[a(class="link" href="https://www.theodinproject.com/") THE ODIN PROJECT] ON HIS WAY TO A CAREER IN FULL-STACK DEVELOPMENT. ONCE HE FINISHES WITH THOSE, HE PLANS TO PURSUE #[a(class="link" href="https://www.microsoft.com/en-us/learning/mcsd-app-builder-certification.aspx") THE APP BUILDER TRACK] OF THE MICROSOFT CERTIFIED SOLUTIONS DEVELOPER PROGRAM.