doctype html
html
head
title My Projects
link(rel="stylesheet", href="/static/stylesheets/navbar.css")
link(rel="stylesheet" href="/static/stylesheets/main.css")
link(rel="stylesheet" href="/static/stylesheets/cards.css")
include header.pug
hr
div(class="card-wrapper -center")
    div(class="card")
        div(class="media")
            img(src="/static/images/etch-a-sketch.png" alt="")
        div(class="title")
            h4(class="text -center") Etch-a-Sketch
        div(class="card-text")
            p(class="-center") An etch-a-sketch/drawing application, made for the Odin Project.
        div(class="card-link 1 -center")
            a(class="project-link" href="https://github.com/CrispyCB/Etch-A-Sketchpad") Source Code
        div(class="card-link 2 -center")
            a(class="project-link" href="https://crispycb.github.io/Etch-A-Sketchpad/") Live Site
    div(class="card")
        div(class="media")
            img(src="/static/images/calculator.png" alt="")
        div(class="title")
            h4(class="text -center") Calculator
        div(class="card-text")
            p(class="-center") A simple JavaScript calculator, built for the Odin Project.
        div(class="card-link 1 -center")  
            a(class="project-link" href="https://github.com/CrispyCB/calcjs") Source Code
        div(class="card-link 2 -center")
            a(class="project-link" href="https://crispycb.github.io/calcjs/") Live Site
    div(class="card")
        div(class="media")
            img(src="/static/images/rock-paper-scissors.png" alt="")
        div(class="title")
            h4(class="text -center") Rock-Paper-Scissors
        div(class="card-text")
            p(class="-center") A simple rock-paper-scissors game, built for the Odin Project.
        div(class="card-link 1 -center")
            a(class="project-link" href="https://github.com/CrispyCB/rock-paper-scissors") Source Code
        div(class="card-link 2 -center")
            a(class="project-link" href="https://crispycb.github.io/rock-paper-scissors/") Live Site