doctype html
html(lang='en')
    head
        title About
        link(rel="stylesheet", href="/static/stylesheets/navbar.css")
        link(rel="stylesheet" href="/static/stylesheets/main.css")
    body
        include header.pug
        hr
        h2(class="text -margin") CHRISTIAN LIVES FOR ORGANIZATION AND STRUCTURE, AND LOVES TO MARVEL AT HOW THE DIFFERENT PIECES OF A DESIGN WORK TO BRING THE WHOLE THING TOGETHER. AS HE HAS WORKED TO EXPAND HIS DESIGN SKILLSET, HE HAS GAINED A SOLID KNOWLEDGE OF ADOBE INDESIGN, ADOBE PHOTOSHOP, ADOBE ILLUSTRATOR, ADOBE AUDITION/PREMIERE, HTML AND CSS.
        include footer.pug